.Stores_Stock{
  height: 100%;
  width: 100%;
  margin: 0;
}

.panel {
  background-color: rgb(87, 94, 94);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#fileToUpload {
  height: 20px;
  width: 200px;
}

.excel_pic {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

#uploadbtn {
  background-color: rgb(87, 94, 94);
  border: none;
  color: #ddd;
  margin-right: 10px;
}

#error {
  color: rgb(161, 213, 255);
}

.panel p:hover{
  color: rgb(161, 213, 255);
}

.panel p{
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.panel_baza {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 266px;
  bottom: 0;
  right: 0;
}

.left_panel {
  width: 300px;
  font-family: sans-serif;
  color: rgb(87, 94, 94);
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  display: none;
  overflow: scroll;
}

.form {
  width: 175px;
}

.data_form div {
  background-color:rgb(161, 213, 255);
  height: 53px;
  text-align: center;
  padding: 18px 0;
  width: 175px;
}

.Stores_Quantity_Form {
  height: 25px;
  width: 175px;
}


input[type=submit] {
  background-color: rgb(161, 213, 255);
  border: 1px solid #ddd;
  color: rgb(87, 94, 94);
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  height: 25px;
  width: 175px;
  margin-top: 10px;
}

input[type=submit]:hover {
  color: white;
}

.baza {
  display: flex;
  overflow: auto;
  width: 100%;
  position: relative;
  top: 0px;
  bottom: 25px;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.content-table thead tr {
  background-color: rgb(161, 213, 255);
  color: rgb(87, 94, 94);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 125px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(161, 213, 255);
}

.content-table .edit {
  display: none;
}

.footer {
  background-color: rgb(87, 94, 94);
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 15px;
  color: white;
  padding-left: 75px;
}