*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* HEADER */
.header-img{
    position: relative;
    height: 200px;
    background-image: url('warehouse.jpg');
    background-position: 50% 50%; 
    background-repeat: no-repeat;
}

/* NAV */
nav{
    height: 45px;
    background-color: rgb(54,54,54);
    text-align: center;
    line-height: 45px;
}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav div a{
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 15px;
}

nav div a:hover{
    color: royalblue;
}