{% extends "home.html" %}
{% block Baza %}
{% load static %}
{% load mathfilters %}
<link href="{% static 'stores.css' %}" rel="stylesheet">
<div class="panel">
	Download to excel->
	<a href="{% static 'stores_db.xlsx' %}" download onclick="{{ download }}">
		<img src="{% static 'excel.jpg' %}" alt="excel picture" height="20px" width="20px">
	</a>
</div>
<div class="baza">
	<table>
		<tr>
			<th>Area</th>
			<th>Country</th>
			<th>City</th>
			<th>Store Name</th>
			<th>Sku</th>
			<th>Product Description</th>
			<th>Invoice Number</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Value</th>
		</tr>
		{% for i in query_results %}
		<tr> 
			<td>{{ i.area }}</td>
			<td>{{ i.country }}</td>
			<td>{{ i.city }}</td>
			<td>{{ i.customer_name }}</td>
			<td>{{ i.store_name }}</td>
			<td>{{ i.sku }}</td>
			<td>{{ i.product_description }}</td>
			<td>{{ i.invoice_number }}</td>
			<td>{{ i.quantity }}</td>
			<td>{{ i.price }}</td>
			<td>
				{% with q=i.quantity p=i.price %}
				{{ q|mul:p }}
				{% endwith %}
			</td>
		</tr>
		{% endfor %}
	</table>		
</div>
<div class="data_form">
	<form method="POST">
		{% csrf_token %}
		<p>{{ form.as_p }}</p>
		<input type="button" width="20", height="20" value="save" />
	</form>
</div>
{% endblock Baza%}