{% extends "home.html" %}
{% block Baza %}
{% load static %}
<link href="{% static 'stores.css' %}" rel="stylesheet">
<div class="Stores_Stock">
	<div class="panel">
		<p>Add</p>
		<p>Delete</p>
		<p>Edit</p>
		<p>Filter</p>
		Upload from excel->
		<form method="POST" enctype="multipart/form-data" name="fileToUpload">
			{% csrf_token %}
			<input type="file"  id="fileToUpload" accept=".xlsx" name="fileToUpload">
			<button type="submit" id="uploadbtn" name="fileToUpload"> 
				<i class="fas fa-file-upload fa-lg"></i>
			</button>
		</form>
		Download to excel->
		<a href="{% static 'stores_db.xlsx' %}" download onclick="{{ download }}">
			<img src="{% static 'excel.jpg' %}" alt="excel picture" height="20px" width="20px">
		</a>
	</div>
	<div class="panel_baza">
		<div class="left_panel">
			<div class="form">
				<form method="POST" class="data_form" name="data_add"> 
					{% csrf_token %}
					<div>Add Data</div>		
					<p>{{ form.as_p }}</p>
					<input type="submit" value="SUBMIT"/>
				</form>
			</div>
		</div>
		<div class="baza">
			<table class="content-table">
				<thead>
					<tr>
						<th>Area</th>
						<th>Country</th>
						<th>City</th>
						<th>Store Name</th>
						<th>Sku</th>
						<th>Product Description</th>
						<th>Invoice Number</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Value</th>
					</tr>
				</thead>
				{% for i in query_results %}
				<tbody>
					<tr> 
						<td>{{ i.area }}</td>
						<td>{{ i.country }}</td>
						<td>{{ i.city }}</td>
						<td>{{ i.store_name }}</td>
						<td>{{ i.sku }}</td>
						<td>{{ i.product_description }}</td>
						<td>{{ i.invoice_number }}</td>
						<td>{{ i.quantity }}</td>
						<td>{{ i.price }}</td>
						<td>{{ i.value }}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>		
		</div>
	</div>
	<div class="footer">{{ saved }}</div>
</div>
{% endblock Baza%}