{% extends "home.html" %}
{% block Baza %}
{% load static %}
	<link href="{% static 'basket.css' %}" rel="stylesheet">
	<div id="core">
		<div id="basket">
			<table class="table">
				<tr>
					<th>Sku</th>
					<th>Product Description</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Value</th>
				</tr>
				{% for i in query_results %}
				<tr> 
					<td>{{ i.sku }}</td>
					<td>{{ i.product_description }}</td>
					<td>{{ i.quantity }}</td>
					<td>{{ i.price }}</td>
					<td>{{ i.value }</td>
				</tr>
				{% endfor %}
		</div>
	</div>
{% endblock Baza%}