{% extends "home.html" %}
{% block Baza %}
{% load static %}
<link href="{% static 'invoices.css' %}" rel="stylesheet">
<div class="baza">
	{% for i in inv_base %}
	<div class="invoices_block">
		<p>Invoice Number: {{ i.invoice_number }}</p>
		<p>Invoice Date: {{ i.invoice_date }}</p>
		<p>Total Quantity: {{ i.quantity }}</p>
		<p>Total Value: {{ i.value }}</p>
		<form method="POST">
			{% csrf_token %}
			<input type="submit" class="#" value="Delete invoice">
			<input type="hidden" name="form_invoice_number" value="{{ i.invoice_number }}">
		</form>
	</div>
	{% endfor %}
	View to be corrected
	{% for i in invs_base %}
	<div class="invoices_block">
		<p>Invoice Number: {{ i.invoice }}</p>
		<p>Invoice Date: {{ i.invoice_date }}</p>
		<p>SKU: {{ i.sku }}</p>
		<p>Product Description: {{ i.product_description }}</p>
		<p>Quantity: {{ i.quantity }}</p>
		<p>Price: {{ i.price }}</p>
		<p>Value: {{ i.value }}</p>
		<form method="POST">
			{% csrf_token %}
			<input type="submit" class="#" value="Delete invoice">
			<input type="hidden" name="form_invoice_number" value="{{ i.invoice }}">
		</form>
	</div>
	{% endfor %}
</div>
{% endblock Baza%}